<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet" />
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet" />
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" />
  <title>Sign up</title>
 </head>
 <body>
  <script>
$(document).ready(function() {



    $("#cust_type").on('change',
    function() {
        var cust_type = $(this).val();
        if (cust_type == "I") {
            $("#corporatename").parent().hide();
            $("#regno").parent().hide();
            $("#employeeid").parent().hide();
            $("#firstname").parent().show();
            $("#lastname").parent().show();
            $("#driver_license_number").parent().show();
            $("#insurance_company_name").parent().show();
            $("#insurance_policy_number").parent().show();
        } else {
            $("#corporatename").parent().show();
            $("#regno").parent().show();
            $("#employeeid").parent().show();

            $("#firstname").parent().hide();
            $("#lastname").parent().hide();
            $("#driver_license_number").parent().hide();
            $("#insurance_company_name").parent().hide();
            $("#insurance_policy_number").parent().hide();
        }
    });
    

    $("#signupBtn").click(function() {
    	var d = new Date();
        var t = d.getTime();
        var timestamp = Math.round(d / 1000);

        p_username = $("#username").val()
        p_password = $("#password").val()
        // alert("username is " + p_username + " password is " + p_password)
        p_password = $.md5(p_password)

        $.ajax({
            type: "POST",
            url: "/user",
            beforeSend: function(request) {
                request.setRequestHeader("timestamp", timestamp)
            },
            data: {
                "username": p_username,
                "password": p_password
            },
            dataType: 'json',
            success: function(result) {
            	var r = JSON.parse(result)
            	var stat = r["stat"];
                    if (stat == 1) {
						$.cookie("username", p_username);
						$.cookie("password", p_password);
						alert("sign up successful.");
						$(location).attr('href', '/');
                    } else {
                    	alert("sign up failure");
                    }
			}
        });

    });
});
</script>
  <div class="container">
   <div class="row clearfix">
    <div class="col-md-12 column">
     <ul class="nav nav-tabs">
      <li class="active"> <a href="#">首页</a> </li>
      <li> <a href="#">简介</a> </li>
      <li class="disabled"> <a href="#">信息</a> </li>
      <li class="dropdown pull-right"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
       <ul class="dropdown-menu">
        <li> <a href="#">操作</a> </li>
        <li> <a href="#">设置栏目</a> </li>
        <li> <a href="#">更多设置</a> </li>
        <li class="divider"> </li>
        <li> <a href="#">分割线</a> </li>
       </ul> </li>
     </ul>
     <h3> WOW - Sign up </h3>
    </div>
    <div class="col-md-12 column">
     <form role="form">
      <div class="form-group">
       <label for="cust_type">Type</label>
       <select type="text" class="form-control" id="cust_type"> <option value="I" selected="">Individual</option><option value="C">Corporate</option></select>
      </div>
      <div class="form-group">
       <label for="firstname">First Name</label>
       <input type="text" class="form-control" id="firstname" />
      </div>
      <div class="form-group">
       <label for="lastname">Last Name</label>
       <input type="text" class="form-control" id="lastname" />
      </div>
      <div class="form-group">
       <label for="driver_license_number">Driver License Number</label>
       <input type="text" class="form-control" id="driver_license_number" />
      </div>
            <div class="form-group">
       <label for="insurance_company_name">Insurance Company Name</label>
       <input type="text" class="form-control" id="insurance_company_name" />
      </div>
                  <div class="form-group">
       <label for="insurance_policy_number">Insurance Policy Number</label>
       <input type="text" class="form-control" id="insurance_policy_number" />
      </div>

                  <div class="form-group">
       <label for="corporatename">Corporate Name</label>
       <input type="text" class="form-control" id="corporatename" />
      </div>
                  <div class="form-group">
       <label for="regno">Corporate Reg No</label>
       <input type="text" class="form-control" id="regno" />
      </div>


                  <div class="form-group">
       <label for="employeeid">Corporate Employee ID</label>
       <input type="text" class="form-control" id="employeeid" />
      </div>

                        <div class="form-group">
       <label for="street">Street</label>
       <input type="text" class="form-control" id="street" />
      </div>

                        <div class="form-group">
       <label for="city">City</label>
       <input type="text" class="form-control" id="city" />
      </div>

                                 <div class="form-group">
       <label for="state">State</label>
       <input type="text" class="form-control" id="state" />
      </div>

                                 <div class="form-group">
       <label for="country">Country</label>
       <input type="text" class="form-control" id="country" />
      </div>

                                          <div class="form-group">
       <label for="zip">Zip</label>
       <input type="text" class="form-control" id="zip" />
      </div>

                                          <div class="form-group">
       <label for="email">Email</label>
       <input type="text" class="form-control" id="email" />
      </div>
                                         <div class="form-group">
       <label for="tel">Tel</label>
       <input type="text" class="form-control" id="tel" />
      </div>
      <br />
      <div id="success"></div>
      <button type="button" class="btn btn-primary" id="saveCustomerButton">Save</button>
     </form>
    </div>
   </div>
  </div>
  <hr />
  <!-- Footer -->
  <footer>
   <div class="container">
    <div class="row clearfix">
     <p class="copyright text-muted">Copyright &copy; WOW</p>
    </div>
   </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/affix.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/alert.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/alert.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/button.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/jquery.md5.js') }}"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
 </body>
</html>