<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
	  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <title>Sign in</title>

	     <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/jquery.md5.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.md5.js') }}"></script>
  </head>
  <body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					 <a href="#">首页</a>
				</li>
				<li>
					 <a href="#">简介</a>
				</li>
				<li class="disabled">
					 <a href="#">信息</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="#">操作</a>
						</li>
						<li>
							 <a href="#">设置栏目</a>
						</li>
						<li>
							 <a href="#">更多设置</a>
						</li>
						<li class="divider">
						</li>
						<li>
							 <a href="#">分割线</a>
						</li>
					</ul>
				</li>
			</ul>
			<h3>
			 WOW - Sign in
			</h3>
					</div>
	 <div class="col-md-12 column">
			<form role="form">
				<div class="form-group">
					 <label for="username">Username</label><input type="text" class="form-control" id="username" />
				</div>
				<div class="form-group">
					 <label for="password">Password</label><input type="password" class="form-control" id="password" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>

			</form>
		</div>
	 <div class="col-md-12 column">
            <p class="help-block text-danger"><a href="#">Lost your Password ?</a></p>
            <h5><a href="/signup">Sign up</a></h5>
        </div>
	</div>
</div>

<hr>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row clearfix">
 		<p class="copyright text-muted" >Copyright &copy; WOW</p>
      </div>
    </div>
  </footer>

<script>
    $(document).ready( function() {

     }
     );
</script>



  </body>
</html>