<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
	  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <title>Sign in</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Custom scripts for this template -->
 <script src="{{ url_for('static', filename='js/jquery.md5.js') }}"></script>

  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/affix.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/alert.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/alert.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/button.js"></script>
  </head>
  <body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
			 WOW - Sign in
			</h3>
					</div>
	 <div class="col-md-12 column">
			<form role="form">
				<div class="form-group">
					 <label for="username">Username</label><input type="text" class="form-control" id="username" />
				</div>
				<div class="form-group">
					 <label for="password">Password</label><input type="password" class="form-control" id="password" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default" id="registerUserBtn">Submit</button>
				</div>

			</form>
		</div>
	 <div class="col-md-12 column">
            <p class="help-block text-danger"><a href="#">Lost your Password ?</a></p>
            <h5><a href="/signup">Sign up</a></h5>
        </div>
	</div>
</div>

<hr>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row clearfix">
 		<p class="copyright text-muted" >Copyright &copy; WOW</p>
      </div>
    </div>
  </footer>

<script>
    $(document).ready( function() {
        $("#registerUserBtn").click(function () {
                   var d = new Date();
        var t = d.getTime();
        var timestamp = Math.round(d / 1000);
        var username = $("#username").val();
        var password = $("#password").val();
        password = $.md5(password);
        var token = $.md5(username + password + timestamp);
        var data = {"username": username};

         $.ajax({
        type: "GET",
        url: "/user",
        beforeSend: function(request) {
            request.setRequestHeader("timestamp", timestamp);
            request.setRequestHeader("token", token);
        },
        data: data,
        dataType: 'json',
        success: function(result) {
            var r = JSON.parse(result);
            var stat = r["stat"];
            if (stat == 1) {
               $.cookie("username", username);
               $.cookie("password", password);
               $(location).attr('href', '/');

            } else {
                alert("sign in failure.");
            }
        }
    });
        });

     }
     );
</script>



  </body>
</html>