<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.css" rel="stylesheet">
	  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Sign up</title>

	      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Custom scripts for this template -->
 <script src="{{ url_for('static', filename='js/jquery.md5.js') }}"></script>

  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/affix.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/alert.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/alert.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/button.js"></script>
  </head>
  <body>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
			 WOW - Sign up
			</h3>
					</div>
	 <div class="col-md-12 column">
			<form role="form">
				<div class="form-group">
					 <label for="username">Username</label><input type="text" class="form-control" id="username" />
				</div>
				<div class="form-group">
					 <label for="password">Password</label><input type="password" class="form-control" id="password" />
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-default" id="signupBtn">Submit</button>
				</div>

			</form>
		</div>
	</div>
</div>

<hr>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row clearfix">
 <p class="copyright text-muted" >Copyright &copy; WOW</p>
      </div>
    </div>
  </footer>



    <script>
$(document).ready(function() {

    $("#signupBtn").on('click', function () {
            	var d = new Date();
        var t = d.getTime();
        var timestamp = Math.round(d / 1000);

        p_username = $("#username").val();
        p_password = $("#password").val();
        //alert("username is " + p_username + " ,password is " + p_password);
        p_password = $.md5(p_password);
        var data = {
                "username": p_username,
                "password": p_password
            };

        $.ajax({
            type: "POST",
            url: "/user",
            data: data,
            beforeSend: function(request) {
            request.setRequestHeader("timestamp", timestamp);
            },
            success: function (result) {
                alert("result is " + result);
            var r = JSON.parse(result);
            var stat = r["stat"];
            if (stat == 1) {
               alert("sign up success.");
                $.cookie("username", username);
               $.cookie("password", password);

               $(location).attr('href', '/');

            } else {
                alert("sign up failure.");
            }

            }
        });

    });

    $("#signupBtn").click2(function() {
    	var d = new Date();
        var t = d.getTime();
        var timestamp = Math.round(d / 1000);

        p_username = $("#username").val();
        p_password = $("#password").val();
        //alert("username is " + p_username + " ,password is " + p_password);
        p_password = $.md5(p_password);
        var data = {
                "username": p_username,
                "password": p_password
            };

        $.ajax({
        type: "POST",
        url: "/user",
        beforeSend: function(request) {
            request.setRequestHeader("timestamp", timestamp);
        },
        data: data,
        dataType: 'json',
        success: function(result) {
            var r = JSON.parse(result);
            var stat = r["stat"];
            alert("stat is " + stat);
            if (stat == 1) {
               $.cookie("username", username);
               $.cookie("password", password);
               $(location).attr('href', '/');

            } else {
                alert("sign up failure.");
            }
        }
        });
    });
});
</script>



  </body>
</html>