{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/write.jpg' ) }}')" >
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1> Your Article</h1>
					<span class="subheading">write something below</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<form name="sentMessage" id="contactForm" action = "/write" method = "post" novalidate>
				<div class="control-group">
					<div class="form-group floating-label-form-group controls">
						<label><cite><strong>Title</strong></cite></label>
						<input type="text" class="form-control" placeholder="Title" id="title" name='title' required data-validation-required-message="Please enter the title.">
						<p class="help-block text-danger"></p>
					</div>
				</div>


				<div class="control-group">
					<div class="form-group floating-label-form-group controls">
						<label><cite>Content</cite></label>
						<textarea rows="5" class="form-control" placeholder="Content" name="content" id="content" required data-validation-required-message="Please enter a message."></textarea>
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<br>
				<div id="success"></div>
				<button type="submit" class="btn btn-primary" id="sendMessageButton">Publish</button>
			</form>
		</div>
	</div>
</div>			
{% endblock %}