{% extends "basic.html" %}
{% block body %}

  <div class="container">
   <div class="row clearfix">
    <div class="col-md-12 column">
     <form role="form">

      <div class="form-group">
       <label for="rs_id">Rental Service ID</label>
       <input type="text" readonly="readonly" class="form-control" id="rs_id" value={{ rs_id }} />
      </div>
      <div class="form-group">
       <label for="Pickup_Location">Pickup Location</label>
       <input type="text" class="form-control" id="Pickup_Location" />
      </div>
      <div class="form-group">
       <label for="Dropoff_Location">Dropoff Location</label>
       <input type="text" class="form-control" id="Dropoff_Location" />
      </div>
      <div class="form-group">
       <label for="Pickup_Date">Pickup Date</label>
       <input type="date" class="form-control" id="Pickup_Date" />
      </div>
      <div class="form-group">
       <label for="Dropoff_Date">Dropoff Date</label>
       <input type="date" class="form-control" id="Dropoff_Date" />
      </div>
      <div class="form-group">
       <label for="Start_Odometer">Start Odometer</label>
       <input type="text" class="form-control" id="Start_Odometer" />
      </div>
      <div class="form-group">
       <label for="End_Odometer">End Odometer</label>
       <input type="text" class="form-control" id="End_Odometer" />
      </div>
      <div class="form-group">
       <label for="Daily_Odometer_Limit">Daily Odometer Limit</label>
       <input type="text" class="form-control" id="Daily_Odometer_Limit" />
      </div>
      <div class="form-group">
       <label for="Vehicle_Info">Vehicle Info</label>
       <select type="text" class="form-control" id="Vehicle_Info"> <option value="3001" selected="">Toyota</option><option value="3004">Ford</option><option value="3008">Chevrolet</option></select>
      </div>
      <div class="form-group">
       <label for="rental_rate" >rental rate</label>
       <input type="text" readonly="readonly" class="form-control" id="rental_rate" />
      </div>
      <div class="form-group">
       <label for="rental_fee" >rental fee</label>
       <input type="text" readonly="readonly" class="form-control" id="rental_fee" />
      </div>
      <div class="form-group">
       <label for="rental_amount">rental amount</label>
       <input type="text" class="form-control" id="rental_amount" />
      </div>
      <div class="form-group">
       <label for="really_amount">really amount</label>
       <input type="text" class="form-control" id="really_amount" />
      </div>

      <div class="form-group">
       <label for="wow_userid">WOW User ID</label>
       <input type="text" class="form-control" id="wow_userid" />
      </div>
      <br />
      <div id="success"></div>
      <button type="button" class="btn btn-primary" id="saveRentalButton">Save</button>
      <button type="button" class="btn btn-default" id="deleteRentalButton">Delete</button>
     </form>
    </div>
   </div>
  </div>
 <script>
   $(document).ready(function() {
    $("#headerText").text("WOW - Rental Service");
    var d = new Date();
    var t = d.getTime();
    var timestamp = Math.round(d / 1000);
    var username = $.cookie("username");
    var password = $.cookie("password");
    var token = $.md5(username + password + timestamp);
    if (username != null && password != null) {
        $.ajax({
            type: "GET",
            url: "/user/" + username,
            beforeSend: function(request) {
                request.setRequestHeader("token", token);
                request.setRequestHeader("timestamp", timestamp);
            },
            data: {},
            dataType: 'json',
            success: function(result) {
                var r = JSON.parse(result);
                var stat = r["stat"];
                if (stat == 1) {
                    // login success.
                    console.log("get rental service id is ", $("#rs_id").val());
                    var data = {"rs_id" : $("#rs_id").val()}
                    $.ajax({
                        type: "GET",
                        url: "/rental/" + username,
                        beforeSend: function(request) {
                            request.setRequestHeader("token", token);
                            request.setRequestHeader("timestamp", timestamp);
                        },
                        data: data,
                        dataType: "json",
                        success: function(result) {
                            var r = JSON.parse(result);
                            var stat = r["stat"];
                            if (stat == 1) {
                              var rs_list = r["rs_list"];
                              var ll = rs_list.length;
                              if (ll > 0) {
                                rental = rs_list[0];
                                Object.entries(rental).forEach(([key, value]) =>{
                                        console.log(`${key}: ${value}`);
                                    });
                                $("#rs_id").val(rental["rs_id"]);
                                $("#saveRentalButton").text("Save Rental Service");
                                $("#Pickup_Location").val(rental["Pickup_Location"]);
                                $("#Dropoff_Location").val(rental["Dropoff_Location"]);
                                $("#Pickup_Date").val(rental["Pickup_Date"]);
                                $("#Dropoff_Date").val(rental["Dropoff_Date"]);
                                $("#Start_Odometer").val(rental["Start_Odometer"]);
                                $("#End_Odometer").val(rental["End_Odometer"]);
                                $("#Daily_Odometer_Limit").val(rental["Daily_Odometer_Limit"]);
                                $("#Vehicle_Info").val(rental["Vehicle_ID"]);
                                $("#rental_rate").val(rental["rental_rate"]);
                                $("#rental_fee").val(rental["rental_fee"]);
                                $("#rental_amount").val(rental["rental_amount"]);
                                $("#really_amount").val(rental["really_amount"]);
                                $("#Cust_ID").val(rental["Cust_ID"]);
                                $("#wow_userid").val(rental["wow_userid"]);
                              }
                              else {
                               $("#rs_id").val(0);
                               $("#saveRentalButton").text("Create New Rental Service");
                               var time = new Date();
                               var day = ("0" + time.getDate()).slice(-2);
                               var month = ("0" + (time.getMonth() + 1)).slice(-2);
                               var today = time.getFullYear() + "-" + (month) + "-" + (day);
                               $("#Pickup_Date").val(today);
                              }
                            } else {


                            }
                        }
                    });
                } else {
                    $(location).attr('href', '/');
                }
            }
        });

    } else {
        $(location).attr('href', '/');
    }

    $("#Vehicle_Info").on('change',
    function() {
        var Vehicle_ID = $(this).val();
        if (Vehicle_ID == 3001) {
            $("#rental_rate").val(100);
            $("#rental_fee").val(10);

        } else if (Vehicle_ID == 3004) {
            $("#rental_rate").val(120);
            $("#rental_fee").val(12);

        }
        else if (Vehicle_ID == 3008) {
            $("#rental_rate").val(130);
            $("#rental_fee").val(13);

        }
    });


$("#saveRentalButton").click(function() {
    console.log("save rental begin");

    var data = {
        "rs_id": $("#rs_id").val(),
        "Pickup_Location": $("#Pickup_Location").val(),
        "Dropoff_Location": $("#Dropoff_Location").val(),
        "Pickup_Date": $("#Pickup_Date").val(),
     "Dropoff_Date": $("#Dropoff_Date").val(),
     "Start_Odometer": $("#Start_Odometer").val(),
        "End_Odometer": $("#End_Odometer").val(),
     "Daily_Odometer_Limit": $("#Daily_Odometer_Limit").val(),
     "Vehicle_ID": $("#Vehicle_Info").val(),
     "rental_rate": $("#rental_rate").val(),
     "rental_fee": $("#rental_fee").val(),
     "rental_amount": $("#rental_amount").val(),
     "really_amount": $("#really_amount").val(),
     "Cust_ID": $("#Cust_ID").val(),
     "wow_userid": $("#wow_userid").val(),
    };
    console.log("data is ", data);

    $.ajax({
        type: "POST",
        url: "/rental",
        beforeSend: function(request) {
            request.setRequestHeader("username", username);
            request.setRequestHeader("token", token);
            request.setRequestHeader("timestamp", timestamp);
        },
        data: data,
        dataType: 'json',
        success: function(result) {
            var r = JSON.parse(result);
            var stat = r["stat"];
            if (stat == 1) {
                alert("save success.");
                $(location).attr('href', '/');

            } else {
                alert("save failure.");
            }
        },
        complete: function (){
            console.log("save rental end.");
        }

    });

});


$("#deleteRentalButton").click(function() {
    console.log("delete rental begin");
    if ($("#rs_id").val() == 0 ) {
     alert("delete rental service is failure.");
     return ;
    }
        var data = {
        "rs_id": $("#rs_id").val(),
       };

    $.ajax({
        type: "DELETE",
        url: "/rental",
        beforeSend: function(request) {
            request.setRequestHeader("username", username);
            request.setRequestHeader("token", token);
            request.setRequestHeader("timestamp", timestamp);
        },
        data: data,
        dataType: 'json',
        success: function(result) {
            var r = JSON.parse(result);
            var stat = r["stat"];
            if (stat == 1) {
                alert("delete success.");
                $(location).attr('href', '/');

            } else {
                alert("delete failure.");
            }
        },
        complete: function (){
            console.log("delete rental end.");
        }

    });

});

});
</script>
{% endblock %}