{% extends "basic.html" %}
{% block body %}
<div class="container">
	<div class="row clearfix">
	 <div class="col-md-12 column">
			<form role="form">
				<div class="form-group">
					 <label for="username">Username</label><input type="text" class="form-control" id="username" />
				</div>
				<div class="form-group">
					 <label for="password">Password</label><input type="password" class="form-control" id="password" />
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" id="registerUserBtn">Sign in</button>
				</div>

			</form>
		</div>
	 <div class="col-md-12 column">
            <p class="help-block text-danger"><a href="#">Lost your Password ?</a></p>
            <h5><a href="/signup">Sign up</a></h5>
        </div>
	</div>
</div>
<script>
    $(document).ready( function() {
    	$("#headerNav").hide();
    	$("#headerText").text("WOW - Sing in");

        $("#registerUserBtn").click(function () {
            var d = new Date();
        var t = d.getTime();
        var timestamp = Math.round(d / 1000);
        var username = $("#username").val();
        var password = $("#password").val();
        password = $.md5(password);
        var token = $.md5(username + password + timestamp);
        var data = {};

         $.ajax({
        type: "GET",
        url: "/user/" + username,
        beforeSend: function(request) {
            request.setRequestHeader("timestamp", timestamp);
            request.setRequestHeader("token", token);
        },
        data: data,
        dataType: 'json',
        success: function(result) {
            var r = JSON.parse(result);
            var stat = r["stat"];
            if (stat == 1) {
               $.cookie("username", username);
               $.cookie("password", password);
               $(location).attr('href', '/');

            } else {
                alert("sign in failure.");
            }
        }
    });
        });

     }
     );
</script>
{% endblock %}
