{% extends "basic.html" %}
{% block body %}
<div class="container">
	<div class="row clearfix">
	 <div class="col-md-12 column">
			<form role="form">
				<div class="form-group">
					 <label for="username">Username</label><input type="text" class="form-control" id="username" />
				</div>
				<div class="form-group">
					 <label for="password">Password</label><input type="password" class="form-control" id="password" />
				</div>

				<div class="form-group">
					<button type="button" class="btn btn-default" id="signupBtn">Sign up</button>
				</div>

			</form>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	    	$("#headerNav").hide();
    	$("#headerText").text("WOW - Sing up");

    $("#signupBtn").on('click', function () {
        $("#signupBtn").hide();
        var d = new Date();
        var t = d.getTime();
        var timestamp = Math.round(d / 1000);

        username = $("#username").val();
        password = $("#password").val();
        password = $.md5(password);
        var data = {
                "username": username,
                "password": password
            };
        $.ajax({
            type: "POST",
            url: "/user",
            data: data,
            async:false,
            datatype: 'json',
            success: function (result) {

               var r = JSON.parse(result);
            var stat = r["stat"];
            if (stat == 1) {
               $.cookie("username", username);
               $.cookie("password", password);
                alert("sign up success.");
               $(location).attr('href', '/');
            } else {
                alert("sign up failure.");
            }

                },
            complete: function () {
                $("#signupBtn").show();

            }
        });

    });

});
</script>
{% endblock %}

