{% extends "layout.html" %}
{% block body %}
<script>
    $(document).ready(function () {
        var d = new Date();
        var t = d.getTime();
        var timestamp = Math.round(d / 1000);
        var username = $.cookie("username");
        var password = $.cookie("password");
        var token = $.md5(username + password + timestamp);
        if (username != null && password != null) {
            $("#signinDiv").hide();
            $.ajax({
                type: "GET",
                url: "/user/"+username,
                beforeSend: function (request) {
                    request.setRequestHeader("token", token);
                    request.setRequestHeader("timestamp", timestamp);
                },
                data: {
                },
                dataType: 'json',
                success: function (result) {
                    var r = JSON.parse(result);
                    var stat = r["stat"];
                    if (stat == 1) {
                        // login success.
                        $("#signinDiv").hide();
                    } else {
                        $("#signinDiv").show();
                    }
                }
            });

        } else {

            $("#signinDiv").show();

        }
        $("#signinButton").click(function () {

                       $.ajax({
                type: "GET",
                url: "/user",
                beforeSend: function (request) {
                    request.setRequestHeader("username", username);
                    request.setRequestHeader("token", token);
                    request.setRequestHeader("timestamp", timestamp);
                },
                data: {
                    "username": username
                },
                dataType: 'json',
                success: function (result) {
                    var stat = result["stat"];
                    if (stat == 1) {
                        // login success.
                        $("#signinDiv").hide();
                    } else {
                        $("#signinDiv").show();
                    }
                }
            });

        });

    });
</script>
<!-- Page Header -->
<header style="background-color: #0085A1 " >
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 style="color: #0085A1">. </h1>
                    <span class="subheading" style="color: #0085A1">. </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row row-fluid">
       <div class="col-lg-8 col-md-10 mx-auto">
		<div class="span12">
			<table class="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							产品
						</th>
						<th>
							交付时间
						</th>
						<th>
							状态
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
						<input type="date" >
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
					<tr class="success">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="error">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="info">
						<td>
							4
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
				</tbody>
			</table>
		</div>
       </div>
    </div>
    <div class="row" id="signinDiv">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form name="sentMessage" id="contactForm" action="#" method="post" novalidate>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label><cite><strong>Username</strong></cite></label>
                        <input type="text" class="form-control" placeholder="Username" id="username" name='username'
                               required data-validation-required-message="Please enter the username.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label><cite>Password</cite></label>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                               required data-validation-required-message="Please enter a password."></input>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <p class="help-block text-danger"></p>
                <div id="success">
                    <button type="submit" class="btn btn-primary" id="signinButton">Sign in</button>
                </div>
                <p class="help-block text-danger"><a href="#">Lost your Password ?</a></p>

            </form>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
            <h5><a href="/signup">Sign up</a></h5>
        </div>
    </div>
</div>

{% endblock %}