# Default ignored files
/shelf/
/workspace.xml
config/ymcart.ini
build
config
PythonApplication_Sync.spec
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
